# enable / disable compiler optimizations (optimized builds implies no assert & no debug logs)
WITH_OPTIMIZATIONS = YES

# enable / disable sanitizer
WITH_SANITIZER = NO

# enable / disable link time optimizations
WITH_LTO = NO

# enable / disable debug rendering (aabb, collisions, light points, portals, bones)
WITH_DEBUG_RENDERING = NO

# enable / disable performance measurements
WITH_PERFORMANCE = NO

# enable / disable memory measurements
WITH_MEMORY = NO

# choose target platform (will change compiler & linked system libraries)
# linux: use gcc
# windows: use mingw
TARGET = linux
#TARGET = windows
#TARGET = wasm
